// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&family=Roboto:wght@300;400&display=swap');

//Font sizes
$small: 12px;
$medium: 16px;
$large: 18px;
$x-large: 30px;
$xx-large: 70px;

//Typefaces
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//Font weight
$thin:100;
$regular:400;
$display-black:900;

//Font style
$italic:italic;

//Colors
$eerie-black: #121619;
$raisin-black: #222332;
$nickel: #6C6E70;

$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

$white: #fff;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//Paragraph
//Date
$top-margin: 50px;
$bottom-margin: 50px;
//Line height
$sm-height: 1;
$md-height: 2.5;
// br bottom margin
$br-bottom: 25px;

//Buttons
$radious: 50px;

