.article {
  color: $nickel;
}
.article-date {
  margin-top: $top-margin;
  margin-bottom: $bottom-margin;
}

br {
  margin-bottom: $br-bottom;
}

p {
  line-height: $md-height
}

.article-text {
  color: $nickel;
}