.article {
  color: $nickel;
}
.article-date {
  margin-top: $top-margin;
  margin-bottom: $bottom-margin;
}

br {
  margin-bottom: $br-bottom;
}

p {
  line-height: $md-height
}

// .article-text {
//   color: $nickel;
//   font-family: $roboto;
//   font-size: $regular;
// }
.article{
  &-date {
  color: $nickel;
  font-family: $roboto;
  font-size: $regular;
}
  &-text {
  color: $nickel;
  font-family: $roboto;
  font-size: $regular;
}
}