.header {  
  height: 100vh;
  width: auto;
  background  : url("assets/img/postimage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

    &_title {
      font-family: $playfair;
      font-size: $xx-large;
      font-weight: $display-black;
      font-style: $italic;
      @media (max-width: 576px) { 
        font-size: $x-large;
      }
    }
}

.header-div {
  position: absolute;
  bottom: 40%;
  margin-left: 25%;
  margin-right: 25%;
  @media (max-width: 576px) { 
    margin-left: 18%;
    margin-right: 18%;
    bottom: 45%;
  }
}

.header-scroll {
  position: absolute;
  bottom: 10%;
  margin-left: 50%;
  margin-right: 50%;
}
